body {
    font-family: 'Roboto';
    background-color: #131417;
}

p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

a {
    text-decoration: none;
    color: white;
}

.container {
    color: #e5e5e5;
    font-size: 2.26rem;
    font-weight: 900;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #20a7d8;
}

.second div {
    background-color: #CD921E;
}

.third div {
    background-color: #c10528;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -5.62rem;
    }

    50% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: 0;
    }

    80% {
        margin-top: 0;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.project {
    width: 500px;
    height: 300px;
    margin: 1rem;
    background-color: #343333;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.project h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 40%;
}

#eau {
    box-shadow: 0 0 100px rgba(65, 157, 227, 0.5);
    background-size: cover;
    background-image:
    linear-gradient(to top, rgba(65, 157, 227, 1), rgba(65, 157, 227, 0.5)),
    url(img/eau.png);
}

#eau:hover {
    transform: scale(1.1);
    border: 2px solid rgb(65, 157, 227);
}

#secim {
    box-shadow: 0 0 100px rgba(212, 59, 59, 0.5);
    background-size: cover;
    background-image:
    linear-gradient(to top, rgba(212, 59, 59, 0.7), rgba(212, 59, 59, 0.4)),
    url(img/secim.png);
}

#secim:hover {
    transform: scale(1.1);
    border: 2px solid rgb(212, 59, 59);
}

#bingo {
    box-shadow: 0 0 100px rgba(59, 212, 95, 0.5);
    background-size: cover;
    background-image:
    linear-gradient(to top, rgba(59, 212, 95, 0.6), rgba(59, 212, 95, 0.3)),
    url(img/bingo.png);
}

#bingo:hover {
    transform: scale(1.1);
    border: 2px solid rgb(59, 212, 95);
}