/*#region General*/
:root {
    --primary-blue: #3b5ae4;
    --secondary-blue: #cbd3ff;
    --tertiary-blue: #f3f5ff;
    --primary-yellow: #9e8b1c;
    --secondary-yellow: #fff9d9;
    --tertiary-yellow: #fffdf2;
    --primary-red: #be3030;
    --secondary-red: #fce9e9;
    --tertiary-red: #fff3f3;
    --primary-purple: #6f3ff5;
    --secondary-purple: #e6e3ff;
    --tertiary-purple: #f7f6ff;
    --secondary-text: #545660;
    --background: #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
    margin-top: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
}

::selection {
    background-color: var(--secondary-blue);
    color: var(--primary-blue);
}

body {
    font-family: 'Poppins';
    background: linear-gradient(to bottom, var(--secondary-blue) 200px, rgba(243, 245, 255, 0.5) 500px);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 24px;
    overflow-y: scroll;
}

.content-wrapper {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: underline;
    color: inherit;
}

hr {
    border: 0;
    border-top: 1px solid var(--secondary-blue);
    margin: 16px 8px 8px 0;
}

h3 {
    line-height: 1.2;
}

.spacing-30 {
    margin-bottom: 30px;
}

.tooltip {
    border-bottom: 1px dotted;
    position: relative;
    display: inline-block;
    cursor: help;
    z-index: 30;
}

.black-dotted-tooltip {
    border-bottom: black 1px dotted !important;
}

.tooltip .tooltip-text {
    visibility: hidden;
    min-width: 360px;
    width: fit-content;
    background-color: var(--tertiary-blue);
    font-weight: 400;
    color: #000;
    text-shadow: none;
    font-size: 14px;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px dotted var(--secondary-blue);
    opacity: 1 !important;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-blue) transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.section-title {
    margin-bottom: 8px;
    color: var(--primary-blue);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.center-override {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    width: 100% !important;
    text-align: center !important;
}
/*#endregion General*/

/*#region Info*/

.info {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px;
    border-left: 4px solid var(--primary-blue);
    margin: 0 8px 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-text {
    width: calc(100% - 190px);
    padding: 4px;
    text-align: justify;
    font-size: 14px;
}

.info-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 8px;
    width: 160px;
}

.info-link {
    margin: 4px;
    color: var(--primary-blue);
    background-color: var(--tertiary-blue);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.disclaimer {
    background-color: rgb(252, 233, 233);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    border-left: 4px solid rgb(190, 48, 48);
    margin-right: 8px;
    margin-bottom: 12px;

}

#greeting {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

#greeting h1,
#greeting h2 {
    margin: 0;
    padding: 0;
}

#greeting h1 span {
    color: var(--primary-blue);
}

#greeting-lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin: 0 !important;
}

#language-selector {
    height: 30%;
    margin-right: 8px;
    margin-top: 24px;
}
/*#endregion Info*/

/*#region Languages*/
.lang-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 300px !important;
    height: 64px;
    flex-grow: 1;
    margin: 0 8px 8px 0;
    display: flex;
    flex-direction: row;
}

.lang-info {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.lang-name {
    font-size: 24px;
    margin: 4px 0;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.lang-card img {
    width: 80px;
    height: 64px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 4px;
}

.lang-level {
    font-size: 16px;
    margin: 0px 0 28px 0;
    font-weight: 400;
    width: fit-content;
}

.lang-card-filler {
    background-color: transparent;
    padding: 0;
    width: 324px !important;
    flex-grow: 1;
}

/*#endregion Languages*/

/*#region Education*/
.school-card,
.course-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    flex-grow: 1;
    margin: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
}

.school-card {
    width: 640px !important;
}

.course-card {
    width: 420px !important;
}

.school-card-primary,
.course-card-primary {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 12px);
    min-height: 60px;
    max-height: 160px;
    padding: 8px 0 0 8px;
}

.school-card-primary {
    background-color: var(--secondary-yellow);
    border-left: 4px solid var(--primary-yellow);
}

.course-card-primary {
    background-color: var(--secondary-purple);
    border-left: 4px solid var(--primary-purple);
}

.school-card-primary h3 {
    color: var(--primary-yellow);
}

.course-card-primary h3 {
    color: var(--primary-purple);
}

.school-card-primary img,
.course-card-primary img {
    height: 52px;
    margin: 0 8px 8px 0;
}

.education-type {
    font-size: 14px;
    color: var(--secondary-text);
    margin: 0;
}

.education-name {
    font-size: 24px;
    margin: 0 0 6px 0;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.school-card-filler {
    background-color: transparent;
    padding: 0;
    width: 664px !important;
    flex-grow: 1;
}

.course-card-filler {
    background-color: transparent;
    padding: 0;
    width: 444px !important;
    flex-grow: 1;
}

/*#endregion Education*/

/*#region Experience*/
.internship-card,
.experience-card,
.student-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;
    margin: 0 8px 8px 0;
    flex-grow: 1;
}

.internship-card,
.student-card {
    width: 480px;
}

.experience-card {
    width: 720px;
}

.internship-card-filler,
.experience-card-filler,
.student-card-filler {
    background-color: transparent;
    padding: 0;
    flex-grow: 1;
}

.experience-card-filler {
    width: 744px !important;
}

.internship-card-filler,
.student-card-filler {
    width: 504px !important;
}

.internship-card-primary,
.experience-card-primary,
.student-card-primary {
    padding-left: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.internship-card-primary {
    background-color: var(--secondary-yellow);
    border-left: 4px solid var(--primary-yellow);
    height: 60px;
}

.experience-card-primary {
    background-color: var(--secondary-purple);
    border-left: 4px solid var(--primary-purple);
    min-height: 60px;
    max-height: 160px;
    padding: 8px;
}

.student-card-primary {
    background-color: var(--secondary-blue);
    border-left: 4px solid var(--primary-blue);
    height: 60px;
}

.experience-card-primary img,
.internship-card-primary img,
.student-card-primary img {
    height: 40px;
    margin-right: 8px;
}

.experience-info,
.internship-info,
.student-info {
    margin-left: 8px;
    padding-left: 12px;
    height: calc(100% - 12px);
}

.experience-info {
    border-left: 2px solid var(--primary-purple);
}

.internship-info {
    border-left: 2px solid var(--primary-yellow);
}

.student-info {
    border-left: 2px solid var(--primary-blue);
}

.experience-info h3,
.internship-info h3,
.student-info h3 {
    margin: 0;
    margin-top: 2px;
    font-size: 24px;
}

.experience-info h3 {
    color: var(--primary-purple);
    margin-top: 4px;
}

.internship-info h3 {
    color: var(--primary-yellow);
}

.student-info h3 {
    color: var(--primary-blue);
}

.experience-info p,
.internship-info p,
.student-info p {
    margin: 0;
    margin-top: -4px;
    padding: 4px 0 8px 0;
    font-size: 14px;
    color: var(--secondary-text);
}

.experience-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px -4px -4px -4px;
}

.experience-tag,
.internship-tag,
.student-tag {
    padding: 4px 8px;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    border-radius: 4px;
    margin: 4px;
}

.experience-tag {
    background-color: var(--tertiary-purple);
    border: 1px dashed var(--primary-purple);
    color: var(--primary-purple);
}

.internship-tag {
    background-color: var(--tertiary-yellow);
    border: 1px dashed var(--primary-yellow);
    color: var(--primary-yellow);
}

.student-tag {
    background-color: var(--tertiary-blue);
    border: 1px dashed var(--primary-blue);
    color: var(--primary-blue);
}

.experience-tag i,
.internship-tag i,
.student-tag i {
    margin-right: 6px;
}

.experience-desc,
.internship-desc,
.student-desc {
    padding: 8px;
    font-size: 14px;
    color: var(--secondary-text);
    margin: 0;
    text-align: justify;
    border-radius: 4px;
    margin-top: 8px;
}

.experience-desc {
    background-color: var(--tertiary-purple);
}

.internship-desc {
    background-color: var(--tertiary-yellow);
}

.student-desc {
    background-color: var(--tertiary-blue);
}
/*#endregion Experience*/

/*#region Test Results*/
.cards-container {
    display: none;
}

.cards-container.active,
.cards-container-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chevron {
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 0 8px;
}

.chevron.rotate {
    transform: rotate(90deg);
}

.test-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;
    width: 360px !important;
    margin: 0 8px 8px 0;
    flex-grow: 1;
}

.test-card-filler {
    background-color: transparent;
    padding: 0;
    width: 384px !important;
    flex-grow: 1;
}

.test-card-primary {
    background-color: var(--secondary-blue);
    border-left: 4px solid var(--primary-blue);
    padding-left: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.test-info h3 {
    margin: 0;
    padding-top: 4px;
    font-size: 24px;
    color: var(--primary-blue);
}

.test-info p {
    margin: 0;
    padding: 4px 0 8px 0;
    font-size: 14px;
    color: var(--secondary-text);
}

.test-score {
    font-size: 36px;
    color: var(--primary-blue);
    font-weight: 600;
    padding-right: 8px;
}

.test-score span {
    font-size: 16px;
    color: var(--secondary-text);
    font-weight: 400;
}

.test-card-secondary {
    display: flex;
    flex-direction: column;
}

.test-subscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--tertiary-blue);
    margin-top: 4px;
    border-radius: 2px;
}

.test-subscore p {
    margin: 0;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--secondary-text);
}

.placements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
}

.placements span {
    font-size: 14px;
    padding: 4px;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.placement-first {
    background-color: rgb(242, 225, 129);
}

.placement-second {
    background-color: silver;
}

.placement-third {
    background-color: #d5a16c;
}

.placement-other {
    background-color: #ecebeb;
}

.placement-grade {
    margin-left: 4px;
}

.view-certificate,
.certificate-pending {
    display: flex;
    flex-direction: row;
    margin: 6px 6px 0 6px;
    opacity: 0.8;
    justify-content: center;
    width: fit-content;
    align-self: center;
    z-index: 21;
}

.view-certificate {
    align-self: center;
    cursor: pointer;
    color: var(--primary-blue);
}

.certificate-pending {
    pointer-events: all;
    color: #757DA1;
    text-decoration: none;
}

.view-certificate img {
    width: 24px;
    margin-right: 4px;
}

.certificate-pending img {
    width: 16px;
    margin-right: 4px;
}


/*#endregion Test Results*/

/*#region Competitions*/
.competition-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;
    width: 480px !important;
    margin: 0 8px 8px 0;
    flex-grow: 1;
    overflow-x: hidden;
}

.competition-card-filler {
    background-color: transparent;
    padding: 0;
    width: 504px !important;
    flex-grow: 1;
}

.competition-card-primary {
    background-color: var(--secondary-red);
    border-left: 4px solid var(--primary-red);
    padding-left: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.competition-info h3 {
    margin: 0;
    padding-top: 4px;
    font-size: 24px;
    color: var(--primary-red);
}

.competition-info p {
    margin: 0;
    padding: 4px 0 8px 0;
    font-size: 14px;
    color: var(--secondary-text);
}

.competition-card-secondary {
    display: flex;
    flex-direction: column;
}

.competition-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    border-radius: 2px;
    max-height: 32px !important;
    overflow-x: auto;
}

.competition-item p {
    margin: 0 0 0 4px;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--secondary-text);
    background-color: var(--tertiary-red);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    width: 120px;
    text-wrap: nowrap;
}

.competition-year {
    background-color: var(--secondary-red) !important;
    margin-left: 0 !important;
    font-weight: 600;
    max-width: 50px !important;
    width: 50px !important;
}

.view-competition-certificate {
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    justify-content: center;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    color: var(--primary-blue);
}

.view-competition-certificate img {
    width: 24px;
    margin-right: 4px;
}

/*#endregion Competitions*/

.footer {
    text-align: center;
    position: relative;
    float: flex-end;
    background-color: var(--secondary-blue);
    padding: 16px;
    margin: 32px -24px -24px -24px;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-right: 4px;
    width: 360px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .radio-lang {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding: .5rem 0;
    color: var(--primary-blue);
    transition: all .2s ease-in-out;
}

.radio-inputs .radio input:checked+.radio-lang {
    background-color: var(--secondary-blue);
    font-weight: 600;
}

.radio-lang {
    background-color: var(--tertiary-blue);
    margin: 4px 0 4px 4px;
}

.lang-flag {
    width: 24px;
    height: 20px;
    object-fit: cover;
    margin-right: 4px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    body {
        margin-right: 2px;
        margin-left: 8px;
    }

    .test-score {
        font-size: 30px;
    }


    #greeting-lang {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #language-selector {
        margin-top: 0;
        margin-bottom: 24px;
    }

    #greeting {
        text-align: center;
    }

    #greeting h2 {
        margin-top: 12px;
    }

    #greeting h1,
    #greeting h2 {
        margin-right: 10px;
    }

    .footer {
        margin: 32px -2px -24px -8px;
    }

    .info {
        flex-direction: column;
    }

    .info-text {
        width: calc(100% - 24px);
    }

    .info-links-container {
        width: calc(100% - 16px);
        flex-direction: row;
    }

    .experience-info h3,
    .internship-info h3,
    .student-info h3,
    .competition-info h3,
    .education-name,
    .lang-name,
    .section-title,
    .test-info h3 {
        font-size: 20px;
    }
}